<%= content_for :head do %>
	<%= stylesheet_link_tag "board" %>
<% end %>

<%= content_for :body do %>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<h4 class="navbar-text" id="board-name"><%= @board.name %></h4>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", root_url %></li>
					<li><%= link_to "Rename", edit_board_path,  remote: true %></li>
					<li><%= link_to "Delete", board_path(@board), method: :delete, data: { confirm: 'Are you sure?'} %></li>
					<li><%= link_to "Code", "https://github.com/KarlParkinson/ScrumBoard" %></li>
					<li><%= link_to "New", new_board_path, remote: true %></li>
					<li><%= link_to "Boards", boards_path %></li>
					<li><%= link_to "Sign Out", signout_path %></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="flex-container">
		<div class="column" id="todo">
			<h3>TODO</h3>
			<ul id="todo-tasks-container" class="sortable connected-sortable task-list">
				<% @todo.each do |task| %>
					<%= render partial: "tasks/task", locals: {task: task} %>
				<% end %>
			</ul>
			<%= render partial: "tasks/form", locals: {board: @board, column: 'todo'} %>
		</div>
		<div class="column" id="doing">
			<h3>DOING</h3>
			<ul id="doing-tasks-container" class="sortable connected-sortable task-list">
				<% @doing.each do |task| %>
					<%= render partial: "tasks/task", locals: {task: task} %>
				<% end %>
			</ul>
			<%= render partial: "tasks/form", locals: {board: @board, column: 'doing'} %>
		</div>
		<div class="column" id="done">
			<h3>DONE</h3>
			<ul id="done-tasks-container" class="sortable connected-sortable task-list">
				<% @done.each do |task| %>
					<%= render partial: "tasks/task", locals: {task: task} %>
				<% end %>
			</ul>
			<%= render partial: "tasks/form", locals: {board: @board, column: 'done'} %>
		</div>
	</div>

	<div class="form-container" id="create-form-container">
		<div class="popup-form">
			<%= render partial: "create" %>
		</div>
	</div>

<% end %>
